* {
  box-sizing: border-box;
}

// smoothing

a,
code,
.card,
.tooltip,
.list {
  transition: $smooth;
}

[class*="col-md-"],
[class*="col-sm-"] {
  padding-right: $rowspace;
  padding-left: $rowspace;
}

@mixin shadow {
  transition: $smooth;
  animation: shadowFadeOut 0.45s;
  box-shadow: $morph-shadow;
  &:hover {
    animation: shadowFadeIn 0.45s;
    box-shadow: $morph-shadow-hover;
  }
}

@keyframes shadowFadeIn {
  0% {
    box-shadow: $morph-shadow;
  }
  25% {
    box-shadow: $morph-shadow;
  }
  50% {
    box-shadow: none;
  }
  75% {
    box-shadow: $morph-shadow-hover;
  }
  100% {
    box-shadow: $morph-shadow-hover;
  }
}

@keyframes shadowFadeOut {
  0% {
    box-shadow: $morph-shadow-hover;
  }
  25% {
    box-shadow: $morph-shadow-hover;
  }
  50% {
    box-shadow: none;
  }
  75% {
    box-shadow: $morph-shadow;
  }
  100% {
    box-shadow: $morph-shadow;
  }
}

img {
  width: 100%;
}

.popup {
  position: fixed;
  top: 2rem;
  right: -100%;
  opacity: 0;
  background: $black;
  color: $white;
  border-radius: 3px;
  padding: 0.5em;
  transition: $smooth-longer;
  p {
    line-height: 1;
    margin: 0;
    code {
      background: $black;
      margin-left: 0.5em;
      color: $green;
      font-weight: 400;
    }
  }
  &.active {
    right: 2rem;
    opacity: 1;
  }
  @media (max-width: 1023px) {
    top: 5em;
  }
}

.error {
  display: block;
  width: 100%;
  padding: 6em 8em 12em 8em;
  text-align: center;
}
div#shadow {
  overflow: hidden;
}
.warning {
  color: $red;
}

section {
  max-width: calc(100% - 125px);
  width: 600px;
  margin: 0 auto;
  padding: 4rem 2rem;
  &.projects {
    max-width: calc(100% - 125px);
    width: 850px;
    @media (max-width: 639px) {
      max-width: calc(100% - 10px);

    }
  }
  @media (max-width: 1023px) {
    max-width: 100%;
    padding: 3rem 2rem;
    @media (max-width: 639px) {
      padding: 3rem 15px;
    }
  }
  &.article {
    @media (max-width: 1023px) {
      max-width: calc(100% - 10px);
    }
  }
}

.green {
  background: $green;
}

.blue {
  background: $blue;
}

.yellow {
  background: $yellow;
}

.orange {
  background: $orange;
}

.black {
  background: $grey-900;
}

section,
footer {
  &.lgrey {
    background: $grey-050;
  }
  &.mgrey {
    background: $grey-100;
  }
  &.mdgrey {
    background: $grey-700;
    color: $white;
  }
  &.dgrey {
    background: $grey-900;
    color: $white;
  }
}

// loader
.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $grey-100;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* total width */
*::-webkit-scrollbar {
  display: none;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  display: none;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  display: none;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-width: none;

}

