@import "~grid-simpleflex/index.scss";

.grd {
  display: grid;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  grid-template-columns: 120px 1fr 1fr 280px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "menu content content right-bar"
    "menu content content right-bar"
    "menu content content right-bar";
  overflow: auto;
}

.morph {
  grid-area: menu;
  padding: 15px;
  > .wrap {
    height: 100%;
    display: flex;
    flex-flow: column;
    border-radius: $menu-rad;
    box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8),
      10px 10px 24px rgba(166, 180, 200, 0.7);
  }
  header {
    flex-grow: 1;
    height: 100%;
    nav {
      flex-grow: 1;
    }
  }
  header {
    border-top-left-radius: $menu-rad;
    border-top-right-radius: $menu-rad;
  }
  footer {
    border-bottom-left-radius: $menu-rad;
    border-bottom-right-radius: $menu-rad;
  }
}

header,
footer,
.right-bar {
  background: $white;
}

.right-bar {
  grid-area: right-bar;
  margin: 15px;
  padding: 15px;
  border-radius: $menu-rad;
  box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8),
    10px 10px 24px rgba(166, 180, 200, 0.7);
  .inner-cont {
    height: 100%;
    border-radius: 4px;
    // safari hack
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    max-height: 100%;
    .decor {
      height: 100%;
      overflow-y: scroll;
    }
  }
}
.content {
  grid-area: content;
  overflow-y: scroll;
}

.right-bar section {
  max-width: 100%;
  padding: 0;
}

@media (max-width: 1023px) {
  .right-bar {
    display: none;
  }
  .grd {
    overflow: scroll;
    display: block;
  }

  .article {
    height: initial;
    overflow: initial;
    margin-top: 80px;

    .blog {
      height: initial;
      overflow-y: initial;
    }
  }

  header {
    position: fixed;
    nav {
      background: $white;
    }
  }
  section {
    margin-top: 60px;
  }
  footer {
    display: block;
  }

  .content {
    display: block;
    grid-area: unset;
    > div {
      overflow-y: initial;
    }
  }
}
