/* prettier-ignore */
/* prettier-ignore-end */

@import url("https://fonts.googleapis.com/css?family=Lato:wght@300;400|Overpass+Mono:wght@300;400&display=swap&subset=latin-ext");

$green: #52d890;
$blue: #5eafa8;
$yellow: #f5c65d;
$orange: #dc7049;
$red: #a12142;

$white: #ffffff;
$grey-050: #f4f4f4;
$grey-100: #ebebeb;
$grey-200: #cccccc;
$grey-300: #b2b2b2;
$grey-400: #999999;
$grey-500: #7f7f7f;
$grey-600: #666666;
$grey-700: #4a4d4e;
$grey-800: #333333;
$grey-900: #191919;
$black: #000000;

$f-xsmall: 0.6em;
$f-small: 0.8em;
$f-smed: 1em;
$f-med: 1.2em;
$f-mmed: 1.6em;
$f-xmed: 2em;
$f-lg: 3em;
$f-xl: 6em;

$font-header: "Overpass Mono", monospace;
$font-default: "Lato", sans-serif;

$border: 1px solid $grey-300;
$border-white: 1px solid $white;

$smooth: all 0.15s ease 0s;
$smooth-longer: all 0.5s ease 0s;

$header-bg-position: 75px;

$rowspace: 1em;
$border: 8px solid $grey-050;


// Styles
body {
	font-family: $font-default;
	font-weight: normal;
	font-size: $f-smed;
	text-align: left;
	margin: 0;
	transition: all 0.3s ease 0s;
	background: $white;
}

nav {
	font-family: $font-header;
	font-size: $f-med;
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-header;
	font-weight: 100;
}
h1 {
	font-size: $f-xmed;
	line-height: 1.25;
	@media (max-width: 1023px) {
		font-size: $f-mmed;
	}
}

h2 {
	font-size: $f-med;
	display: block;
	line-height: 1.2;
	margin-top: 1.25em;
}
h3 {
	font-size: $f-smed;
	line-height: 1;
}

p,
a,
li,
td,
th {
	font-size: $f-smed;
	font-weight: 300;
	line-height: 1.3;
}

a {
	text-decoration: none;
	&:hover {
		color: $blue;
	}
}

ul,
li {
	line-height: 1.25;
	ul {
		margin-top: 0.5em;
	}
}

li ul {
	@media (max-width: 1023px) {
		padding-inline-start: 1em;
	}
}

code {
	background: $grey-050;
	border-radius: 3px;
	padding: 0.1em 0 0.3em;
	font-size: $f-small;
	font-family: $font-header;
	&:hover {
		cursor: pointer;
		background: $grey-100;
	}
	@media (max-width: 1023px) {
		font-size: $f-small;
	}
}

.content > ul {
	border-left: $border;
}

.time,
.finished {
	font-size: $f-small;
}

.button {
	font-family: $font-header;
	font-weight: bold;
}

.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.logo {
	animation: textShadow 5.6s infinite;
}

@keyframes textShadow {
	0% {
		text-shadow: 0.43899px 0 1px rgba(0, 30, 255, 0.5),
			-0.43899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	5% {
		text-shadow: 2.7929px 0 1px rgba(0, 30, 255, 0.5),
			-2.7929px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	10% {
		text-shadow: 0.02956px 0 1px rgba(0, 30, 255, 0.5),
			-0.02956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	15% {
		text-shadow: 0.40219px 0 1px rgba(0, 30, 255, 0.5),
			-0.40219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	20% {
		text-shadow: 3.4794px 0 1px rgba(0, 30, 255, 0.5),
			-3.4794px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	25% {
		text-shadow: 1.61256px 0 1px rgba(0, 30, 255, 0.5),
			-1.61256px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	30% {
		text-shadow: 0.70156px 0 1px rgba(0, 30, 255, 0.5),
			-0.70156px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	35% {
		text-shadow: 3.89691px 0 1px rgba(0, 30, 255, 0.5),
			-3.89691px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	40% {
		text-shadow: 3.87091px 0 1px rgba(0, 30, 255, 0.5),
			-3.87091px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	45% {
		text-shadow: 2.23106px 0 1px rgba(0, 30, 255, 0.5),
			-2.23106px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	50% {
		text-shadow: 0.08084px 0 1px rgba(0, 30, 255, 0.5),
			-0.08084px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	55% {
		text-shadow: 2.37585px 0 1px rgba(0, 30, 255, 0.5),
			-2.37585px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	60% {
		text-shadow: 2.20219px 0 1px rgba(0, 30, 255, 0.5),
			-2.20219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	65% {
		text-shadow: 2.86388px 0 1px rgba(0, 30, 255, 0.5),
			-2.86388px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	70% {
		text-shadow: 0.48874px 0 1px rgba(0, 30, 255, 0.5),
			-0.48874px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	75% {
		text-shadow: 1.89485px 0 1px rgba(0, 30, 255, 0.5),
			-1.89485px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	80% {
		text-shadow: 0.0833px 0 1px rgba(0, 30, 255, 0.5),
			-0.0833px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	85% {
		text-shadow: 0.0977px 0 1px rgba(0, 30, 255, 0.5),
			-0.0977px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	90% {
		text-shadow: 3.44334px 0 1px rgba(0, 30, 255, 0.5),
			-3.44334px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	95% {
		text-shadow: 2.18418px 0 1px rgba(0, 30, 255, 0.5),
			-2.18418px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
	100% {
		text-shadow: 2.62088px 0 1px rgba(0, 30, 255, 0.5),
			-2.62088px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
	}
}
