.mob-only {
  @media (min-width: 1024px) {
    display: none;
  }
}

footer {
  max-width: 100%;
  @media (max-width: 1023px) {
    padding: 5px 5px 0 5px;
    background: none;
    .wrap {
      border-radius: $menu-rad;
      margin: 0;
      background-color: $white;
    }
  }

  p,
  span {
    font-family: $font-header;
    font-weight: 200;
    font-size: $f-small;
    line-height: $f-small;
    align-self: flex-end;
    width: 100%;
    margin: 0;
    display: block;
  }

  a {
    color: $green;
    font-weight: bold;
    margin-right: 5px;
    height: 35px;
    width: 60px;
    background: #191919;
    display: block;
    float: left;
    font-size: 1em;
    padding: 8px 0;
    text-align: center;
    border-radius: 3px;
    transition: all ease-in-out 0.25s;
    margin-top: 15px;
    &:hover {
      color: $blue;
    }
  }

  .legal {
    transform-origin: 0 0;
    transform: rotate(-90deg);
    margin: 125px 0 -20px 15px;
    p {
      padding: 0 0 10px 0;
    }
  }

  .wrap {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    .social,
    .legal {
      flex: 1;
    }
    .social {
      display: flex;
      flex-flow: row wrap;
      flex-direction: row;
      justify-content: center;
    }
    @media (max-width: 1023px) {
      flex-direction: row-reverse;
      width: 100%;
      height: 60px;
      padding: 5px 10px;
      box-shadow: $morph-shadow;

      p {
        line-height: 1em;
        padding: 0 0 8px 0;
      }
      .social,
      .legal {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .legal {
        transform: initial;
        width: 90px;
        max-width: 90px;
        margin: 0 0 0 0;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px 0 0 10px;
        border-radius: $menu-rad 0 0 $menu-rad;
      }
      .social {
        margin: 0;
        width: 100%;
        justify-content: flex-end;
        padding: 0 5px 0 0;
        border-radius: 0 $menu-rad $menu-rad 0;
        a {
          margin-top: 0;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
