footer {
	max-width: 100%;
	width: 250px;
	height: 30%;
	position: fixed;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-flow: row wrap;
	p,
	span {
		font-family: $font-header;
		font-weight: 200;
		font-size: $f-small;
		line-height: $f-small;
		align-self: flex-end;
		width: 100%;
		margin: 0;
		display: block;
	}

	a {
		color: $green;
		width: 1.5em;
		height: 1.5em;
		font-weight: bold;
		font-size: 1.5em;
		padding: 0.1em;
		text-align: center;
		margin-right: 5px;

		transition: all ease-in-out 0.25s;
		&:hover {
			color: $blue;
		}
	}

	.wrap {
		max-width: 150px;
		overflow: hidden;
		display: flex;
		flex-flow: row wrap;
	}

	@media (max-width: 1023px) {
		position: relative;
		width: 100%;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}
