.card {
	padding: 2em;
	height: 100%;
	position: relative;
	@include shadow;
	.headline {
		position: relative;
		.tooltip {
			visibility: hidden;
			opacity: 0;
			background: $black;
			color: $green;
			border-radius: 3px;
			padding: 0.1em 0 0.3em;
			position: absolute;
			bottom: 0;
		}
		p {
			margin-top: 0.5em;
		}
		&:hover {
			img {
				filter: grayscale(0%);
			}
			.tooltip {
				visibility: visible;
				opacity: 1;
				&:hover {
					color: $blue;
				}
			}
		}
	}

	img {
		max-width: 60px;
		float: left;
		margin-right: 1em;
		filter: grayscale(100%);
	}
	h2,
	h3 {
		display: initial;
		margin: 0;
		padding: 0;
		border-radius: 3px;
		line-height: 1;
	}
	h3 {
		display: block;
		font-family: $font-default;
		font-weight: 600;
		padding: 0.8em 0 0.5em;
	}
	p {
		margin: 0;
	}
	a {
		background: $black;
		color: $green;
		text-decoration: none;
		border-radius: 3px;
		padding: 0.1em 0 0.3em;
		&:hover {
			color: $blue;
		}
		&.site {
			background: none;
			color: initial;
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
			overflow: hidden;
			height: 100px;
		}
	}
	.finished {
		position: absolute;
		bottom: 2em;
		right: 2em;
	}
}

.blog {
	img {
		width: 100%;
	}
	h1 {
		line-height: 1.25;
	}
	h2 {
		display: block;
		margin-top: 0;
		line-height: 1.2;
		margin-top: 1.25em;
	}
	ul,
	li {
		line-height: 1.25;
		ul {
			margin-top: 0.5em;
		}
	}
	.content > ul {
		border-left: 8px solid $grey-050;
	}
	code {
		background: $grey-050;
		border-radius: 3px;
		padding: 0.1em 0 0.3em;
		&:hover {
			cursor: pointer;
			background: $grey-100;
		}
	}
	a {
		background: $black;
		color: $green;
		text-decoration: none;
		border-radius: 3px;
		padding: 0.1em 0 0.3em;
		&:hover {
			color: $blue;
		}
	}
}

.popup {
	position: fixed;
	top: 2rem;
	right: -100%;
	opacity: 0;
	background: $black;
	color: $white;
	border-radius: 3px;
	padding: 0.5em;
	transition: $smooth-longer;
	p {
		line-height: 1;
		margin: 0;
		code {
			margin-left: 0.5em;
			color: $green;
			font-weight: 400;
		}
	}
	&.active {
		right: 2rem;
		opacity: 1;
	}
}
