header,
footer {
	position: fixed;
	max-width: 100%;
	width: 10em;
	left: 0;
	z-index: 4;
	background: $grey-900;
	a,
	p {
		color: $white;
		display: block;
		margin: 1em 1em;
		text-decoration: none;
	}
	a {
		font-family: $font-header;
		font-weight: 100;
		font-size: 1.4em;
		line-height: 1.4em;
		overflow: hidden;
		padding: 0;
		&:hover span {
			max-width: 100%;
		}
		span {
			transition: ease all 0.2s;
			display: block;
			max-width: 12px;
			&:hover {
				animation: textShadow 5.6s infinite;
				max-width: 100%;
			}
			overflow: hidden;
		}
		&.green,
		&.blue,
		&.yellow,
		&.orange,
		&.red {
			color: $white;
		}/* 
		&.green:hover {
			color: $green;
		}

		&.blue:hover {
			color: $blue;
		}

		&.yellow:hover {
			color: $yellow;
		}

		&.orange:hover {
			color: $orange;
		}

		&.red:hover {
			color: $red;
		} */
	}
}

header {
	top: 0;
	height: calc(100vh - 150px);
}

footer {
	bottom: 0;
	height: 150px;
}
