.card {
  padding: 2em;
  height: 100%;
  position: relative;
  p {
    margin-bottom: 0 0 initial 0;
  }
  &:hover {
    img {
      filter: grayscale(0%);
    }
    .headline .tooltip {
      visibility: visible;
      opacity: 1;
      &:hover {
        color: $blue;
      }
    }
  }

  .headline {
    h2,
    h3 {
      margin: 0;
      line-height: 1;
    }

    p {
      margin-top: 0.5em;
    }
    .site {
      position: relative;
    }
    .tooltip {
      visibility: hidden;
      opacity: 0;
      background: $black;
      color: $green;
      border-radius: 3px;
      padding: $link-pad;
      position: absolute;
      bottom: 0;
    }
  }

  img {
    max-width: 60px;
    float: left;
    margin-right: 1em;
    filter: grayscale(100%);
  }
  @media (max-width: 1023px) {
    padding: 2em 15px;
    .headline {
      img {
        filter: grayscale(0%);
      }
      .tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  h3 {
    font-family: $font-default;
  }
  .finished {
    position: absolute;
    bottom: 2em;
    right: 2em;
  }
}

.blog,
.card,
.intro {
  a {
    background: $black;
    color: $green;
    text-decoration: none;
    border-radius: 3px;
    padding: 0 3px 2px 3px;
    &:hover {
      color: $blue;
    }
    &.site {
      background: none;
      color: initial;
      display: block;
      margin: 0 0 1em 0;
      width: 100%;
      overflow: hidden;
      height: 100px;
    }
  }
}

.list {
  img {
    border-radius: $menu-rad;
  }

  .thumb {
    @media (min-width: 1024px) {
      padding: 0 1.5rem 0 0;
    }
  }

  &:hover {
    cursor: pointer;
    border-radius: 0;
  }
  h1,
  h2,
  h3,
  p,
  .time {
    display: block;
    margin-top: 1em;
    margin-top: 15px;
  }
  .post {
    padding: 2rem;
    margin-bottom: 1rem;
    h2 {
      margin-top: 0;
    }
  }
}

.post,
.card {
  background: $white;
  border-radius: $menu-rad;
  @include shadow;
}

.post {
  color: $black;
  &:hover {
    color: $black;
  }
}
